<footer class="footer">
  <div class="footer__content">
    <div class="footer__info">
      <div class="footer__logo">
        <img src="../assets/images/logo.png" alt="교회 로고" />
      </div>
      <div class="footer__contact">
        <h3>연락처</h3>
        <p>전화: 041-337-2298</p>
        <p>주소: 충청남도 예산군 삽교읍 수암산로 260</p>
      </div>
      <div class="social__links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="footer__bottom">
      <p>&copy; 2024 은샘침례교회. All rights reserved.</p>
    </div>
  </div>
</footer> 