<header class="header">
  <div class="header__logo">
    <a href="../HTML/index.html">
      <img src="../assets/images/logo.png" alt="교회 로고" />
    </a>
  </div>
  <nav class="header__nav">
    <ul class="nav__list">
      <li>
        <!-- 예배, 교제, 교육, 선교, 봉사 -->
        <a href="javascript:void(0);">은샘침례교회</a>
        <ul class="dropdown-menu">
          <li><a href="../HTML/introduction.html">교회 소개</a></li>
          <li><a href="javascript:void(0);">교회 연혁</a></li>
          <li><a href="javascript:void(0);">교회 비전</a></li>
          <li><a href="javascript:void(0);">섬기는 분들</a></li>
          <li><a href="../HTML/location.html">교회 위치</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);">예배 시간</a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0);">말씀</a></li>
          <li><a href="../HTML/worshipTime.html">찬양</a></li>
          <li><a href="javascript:void(0);">행사</a></li>
          <li><a href="javascript:void(0);">사진</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);">구성원</a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0);">중등부</a></li>
          <li><a href="javascript:void(0);">고등부</a></li>
          <li><a href="javascript:void(0);">청년부</a></li>
          <li><a href="javascript:void(0);">남전도회</a></li>
          <li><a href="javascript:void(0);">여전도회</a></li>
        </ul>
      </li>

      <li>
        <a href="javascript:void(0);">선교 활동</a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0);">선교</a></li>
          <li><a href="javascript:void(0);">기관사역</a></li>
          <li><a href="javascript:void(0);">기타</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
